@import url("variables.css");
body {
  font-family: var(--font-family);
}
form {
  width: 85%;
  padding: 0 0 50px 0;
  border: 1px solid rgb(191, 191, 191);
  color: var(--color_g);
}
.titre {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
.flex {
  display: flex;
  width: 100%;
  flex-direction: row;
  text-align: center;
}
.center {
  justify-content: center;
}
.betwen {
  justify-content: space-between;
}
.center div {
  padding: 10px;
}
button {
  width: 120px;
  font-family: var(--font-family);
  font-size: large;
  background-color: #d0e5f0;
  color: var(--color_bleu2);
  padding: 10px;
  border-radius: 5px;
  border: 2px solid var(--color_bleu2);
}
button:hover {
  background-color: var(--color_bleu2);
  cursor: none;
  color: white;
}
.choix {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid var(--color_bleu2);
  color: var(--color_bleu2);
}
.choisi {
  color: yellow;
  background-color: var(--color_bleu2);
}
label {
  display: block;
}

/* resul */
.style_card {
  background-color: var(--color_inforation);
}

#p {
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;
  text-align: justify;
  text-align-last: center;
}

#h5 {
  font-family: var(--font-family);
  color: var(--color_bleu2);
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 30px;
  text-align: center;
}

.button {
  color: var(--color_bleu2);
  border: 2px solid var(--color_bleu2);
  width: 200px;
  background-color: var(--color_bgButton);
  font-weight: 700;
}

.title {
  font-family: var(--font-family);
  color: #a94442;
  font-size: 45px;
  font-weight: 900;
  margin-bottom: 30px;
  text-align: center;
  text-align: center;
}
