@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@800&display=swap");
:root {
  --font-family: "Cairo", sans-serif;
  --color_orong: #f4cf1b;
  --color_bleu: #96c5dc;
  --color_bleu2: #1078ad;
  --color_g: #787878;
  --color_inforation: #e9ecef;
  --color_bgButton: rgba(16, 121, 173, 0.2);
}
