@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;700;800&display=swap%27');
:root{
   
    --font-family: 'Cairo', sans-serif;
    --color_orong:#F4CF1B;
    --color_bleu:#96C5DC;
    --color_bleu2:#1078AD;
    --color_g:#787878;
    --color_inforation:#e9ecef;
    --color_bgButton:rgba(16, 121, 173, 0.2);

}


