@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Kumbh+Sans:wght@500&display=swap');
:root{
   
    --font-family: 'Cairo', sans-serif;
    --color_orong:#F4CF1B;
    --color_bleu:#96C5DC;
    --color_bleu2:#1078AD;
    --color_g:#787878;


}

